
<!-- <ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Categories</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="categorie" color="primary">
        <ion-segment-button *ngFor="let c of categories;let i = index" value="{{i}}" >
          {{c.name}}
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-list [virtualScroll]="panelData" [headerFn]="panelHeaders">
      <ion-item-divider *virtualHeader="let header">
        <span style="font-weight: bolder">{{ header }}</span>
      </ion-item-divider>
      <ion-item *virtualItem="let products">
        <button ion-item item-start (click)="itemTapped({id:products.id})">
          <h2>{{p.name}}</h2>
          <div>{{p.id}}</div>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
   -->

   <!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="categorie">
        <ion-segment-button value="Pizza">
          Pizza
        </ion-segment-button>
        <ion-segment-button value="Boisson">
          Boisson
        </ion-segment-button>
        <ion-segment-button value="Dessert">
            Dessert
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="categorie">
      <!-- <ion-list *ngSwitchCase="'Pizza'">
          <ion-item *ngFor="let item of products | filterByCategorie:{categorie.name: products[0], include: true}]">
              {{item.name}}
          </ion-item>
      </ion-list>
      <ion-list>
        <ion-item *ngFor="let item of products | filterByCategorie:{categorie.name: products[0], include: false}]" icon-left>
          {{p.name}}
      </ion-item>
    </ion-list> -->
     <ion-list *ngSwitchCase="'Pizza'">
        <h2>Pizzas :</h2>
        <span *ngFor="let p of products">
            <ion-item  *ngIf="p.categorie.name == 'Pizzas'">
                <p>{{p.name}}</p>
              </ion-item>
        </span>
      </ion-list>
      <ion-list *ngSwitchCase="'Boisson'">
          <h2>Boissons :</h2>
          <span *ngFor="let p of products">
              <ion-item  *ngIf="p.categorie.name == 'Boissons'">
                  <p>{{p.name}}</p>
                </ion-item>
          </span>
      </ion-list>
      <ion-list *ngSwitchCase="'Dessert'">
          <h2>Desserts :</h2>
          <span *ngFor="let p of products">
              <ion-item  *ngIf="p.categorie.name == 'Desserts'">
                  <p>{{p.name}}</p>
                </ion-item>
          </span>

      </ion-list>
  </div>
</ion-content>
