page-home {
  
  
  .container {
    background-color: color($colors, twitter, base);
    border-radius: 05%;
  }
  
  .imgPromo {
    border-radius: 55%;
  }
  
  .test {
    padding-left: 15%
  }

}
